/*
0-600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200-1800px: Our normal desktop styles
1800px +: big desktop

ORDER:  Base + typography > general layout + grid >
        page layout > components

$breakpoint arguments choices:
-phone-small
-phone
-tab-prt
-tab-land
-big-desktop

1em = 16px
*/
@keyframes colorFadeUp {
  0% {
    height: 100vh;
    margin-top: 100vh; }
  30% {
    margin-top: 0vh;
    height: 100vh; }
  50% {
    margin-top: 0vh;
    height: 100vh; }
  100% {
    height: 0vh; } }

@keyframes text-transform {
  0% {
    visibility: hidden; }
  99% {
    visibility: hidden; } }

@keyframes animated-menu {
  0% {
    margin-left: 90rem; }
  100% {
    margin-left: 0rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  font-family: brown;
  overflow-x: hidden; }

/*default version*/
@font-face {
  font-family: "Brown";
  src: url("../fonts/brown/Brown-Regular.eot");
  src: local("Brown"), url("../fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Regular.woff") format("woff"), url("../fonts/Brown-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

.u-margin-top-big {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 0rem; } }

.u-margin-top-normal {
  margin-top: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2.7rem; }

.u-margin-bottom {
  margin-bottom: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 16rem; }

.u-margin-right-small {
  margin-right: 2rem; }
  @media only screen and (max-width: 75em) {
    .u-margin-right-small {
      margin-right: 0rem; } }

.u-text-bold {
  font-weight: bold; }

.u-margin-left-small {
  margin-left: 4%; }
  @media only screen and (max-width: 28.125em) {
    .u-margin-left-small {
      margin-left: 0; } }

.u-font-small {
  font-size: 3rem; }

.u-font-tiny {
  font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .u-font-tiny {
      font-size: 2.2rem; } }

.u-absolute {
  position: absolute; }

.u-relative {
  position: relative; }

.u-fixed {
  position: fixed !important; }

.u-underline {
  text-decoration: underline; }

.u-color-pink {
  color: #FF2546; }

.u-box-shadow-green {
  box-shadow: 12px 12px 0px 0 #85FF25; }

.u-box-shadow-blue {
  box-shadow: 12px 12px 0px 0 #18B1E2; }

.u-box-shadow-yellow {
  box-shadow: 12px 12px 0px 0 #FFCF25; }

.u-box-shadow-pink {
  box-shadow: 20px 20px 0px 0 #FF2546; }

.u-box-shadow-pink-sm {
  box-shadow: 12px 12px 0px 0 #FF2546; }

.u-color-white {
  color: #ffffff !important; }

.u-color-white-bg, .u-color-white-bg::after, .u-color-white-bg::before {
  background-color: #ffffff !important; }

.u-color-yellow {
  color: #FFCF25 !important; }

.u-color-black {
  color: #000000; }

.u-active {
  color: #BDBDBD !important; }

.u-100vh {
  height: 100vh;
  top: 0%;
  width: 100vh; }

.u-snap-scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-snap-type: mandatory; }

.u-snap-scroll-child {
  scroll-snap-align: start; }

.show {
  display: grid !important; }

.hide {
  display: none !important; }

.africlick {
  display: grid;
  grid-template-columns: 60% 35%;
  margin-bottom: 4rem;
  font-family: brown;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 56.25em) {
    .africlick {
      padding: 0 5rem;
      display: inline-block;
      height: auto;
      margin-top: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .africlick {
      margin-top: 10rem; } }
  .africlick__grid {
    position: relative;
    box-shadow: 20px 20px 0px 0 #FF2546;
    height: 100%;
    background-image: url(../img/whichride.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%; }
    @media only screen and (max-width: 56.25em) {
      .africlick__grid {
        height: 55rem; } }
    @media only screen and (max-width: 37.5em) {
      .africlick__grid {
        height: 45rem;
        box-shadow: 10px 10px 0px 0 #FF2546; } }
    @media only screen and (max-width: 28.125em) {
      .africlick__grid {
        height: 35rem;
        box-shadow: 10px 10px 0px 0 #FF2546; } }
  .africlick__text {
    margin: 9rem 0 7rem 7rem; }
    @media only screen and (max-width: 56.25em) {
      .africlick__text {
        margin-left: 0;
        margin-top: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .africlick__text {
        margin-top: 6rem; } }
    .africlick__text h3 {
      font-size: 4rem;
      letter-spacing: -2px;
      line-height: 4.8rem; }
      @media only screen and (max-width: 56.25em) {
        .africlick__text h3 {
          font-size: 6rem;
          line-height: 6.8rem; } }
      @media only screen and (max-width: 37.5em) {
        .africlick__text h3 {
          letter-spacing: 0px;
          font-size: 5rem;
          line-height: 5rem; } }
    .africlick__text p {
      margin: 3rem 0 4rem 0;
      font-size: 1.6rem;
      font-weight: light;
      line-height: 2.6rem; }
      @media only screen and (max-width: 56.25em) {
        .africlick__text p {
          font-size: 2.5rem;
          line-height: 4rem; } }
    .africlick__text a {
      color: #FF2546;
      font-size: 1.8rem;
      text-decoration: none;
      font-weight: bold;
      transition: all .3s; }
      @media only screen and (max-width: 56.25em) {
        .africlick__text a {
          font-size: 2.5rem; } }
      .africlick__text a svg {
        transform: scale(1.1); }
      .africlick__text a:hover {
        color: #000000; }
        .africlick__text a:hover, .africlick__text a:hover #afri-svg {
          fill: #000000; }

.footer {
  width: 100%;
  background-color: #000000; }
  .footer__main {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    font-family: brown;
    font-size: 2.4rem;
    color: #ffffff;
    padding: 7rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 28.125em) {
      .footer__main {
        font-size: 3.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__main {
        display: block;
        padding: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__main {
        grid-template-columns: 50% 30% 20%;
        padding: 5rem; } }
    .footer__main-grid1 {
      margin-right: 18rem;
      font-size: 2.4rem; }
      @media only screen and (max-width: 37.5em) {
        .footer__main-grid1 {
          margin-right: 0rem;
          font-size: 3.4rem; } }
      .footer__main-grid1 p {
        margin: 4rem 0 3rem 0;
        font-size: 1.6rem; }
        @media only screen and (max-width: 37.5em) {
          .footer__main-grid1 p {
            font-size: 2rem; } }
      .footer__main-grid1 input {
        padding: 1rem 1rem;
        width: 35rem;
        background: #000000;
        color: #ffffff;
        border: 2px solid #ffffff;
        font-family: Brown;
        font-size: 1.6rem;
        height: 4.8rem; }
        @media only screen and (max-width: 37.5em) {
          .footer__main-grid1 input {
            font-size: 2rem;
            width: 100%;
            padding: 3.5rem 3rem;
            margin-bottom: 3rem; } }
      .footer__main-grid1 button {
        padding: 1rem 1rem;
        border: none;
        background-color: #FF2546;
        color: #ffffff;
        font-size: 1.6rem;
        height: 4.8rem;
        padding: 0px 35px 0px 35px;
        line-height: 1.4rem;
        text-align: center; }
        @media only screen and (max-width: 37.5em) {
          .footer__main-grid1 button {
            font-size: 2rem;
            padding: 3.5rem 3rem;
            margin-bottom: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__main-grid2 {
        margin-right: 5rem; } }
    .footer__main-grid2-content {
      margin-top: 4rem;
      font-size: 1.6rem; }
      @media only screen and (max-width: 37.5em) {
        .footer__main-grid2-content {
          font-size: 2rem; } }
      .footer__main-grid2-content div {
        margin-top: 2rem; }
    .footer__main-grid3 {
      margin-left: auto; }
      @media only screen and (max-width: 37.5em) {
        .footer__main-grid3 {
          margin-top: 5rem; } }
  .footer-sub {
    font-family: brown;
    font-size: 1.1rem;
    color: #828282;
    padding: 2rem 10rem;
    padding-right: 20rem;
    background-color: #000000;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 56.25em) {
      .footer-sub {
        padding: 2.5rem; } }
    .footer-sub span {
      float: right;
      padding-left: 5rem;
      text-decoration: underline;
      cursor: pointer; }
      @media only screen and (max-width: 28.125em) {
        .footer-sub span {
          float: left;
          padding: 0 2rem; } }

.whitespace {
  height: 1.1px;
  background-color: #ffffff; }

.grid-2-col {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0rem 7rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 56.25em) {
    .grid-2-col {
      display: block; } }
  @media only screen and (max-width: 37.5em) {
    .grid-2-col {
      padding: 0rem 5rem; } }
  .grid-2-col__grid {
    height: 40rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .grid-2-col__grid {
        height: 55rem; } }
    @media only screen and (max-width: 28.125em) {
      .grid-2-col__grid {
        height: 40rem; } }
    .grid-2-col__grid:first-child {
      margin-right: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .grid-2-col__grid:first-child {
          margin-right: 0rem; } }
    .grid-2-col__grid:not(:first-child) {
      margin-left: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .grid-2-col__grid:not(:first-child) {
          margin-left: 0rem; } }
    .grid-2-col__grid-1 {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(../img/Casestudy1.1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 30%; }
      .grid-2-col__grid-1:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Casestudy1.1.jpg); }
      @media (hover: none) {
        .grid-2-col__grid-1 {
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Casestudy1.1.jpg); } }
    .grid-2-col__grid-1:hover .grid-2-col__grid-text p {
      opacity: 1; }
    .grid-2-col__grid-2 {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(../img/Casestudy1.2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 30%; }
      .grid-2-col__grid-2:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Casestudy1.2.png); }
      @media (hover: none) {
        .grid-2-col__grid-2 {
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Casestudy1.2.png); } }
    .grid-2-col__grid-2:hover .grid-2-col__grid-text p {
      opacity: 1; }
    .grid-2-col__grid-3 {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(../img/Case-study1.3.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 30%; }
      .grid-2-col__grid-3:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Case-study1.3.png); }
      @media (hover: none) {
        .grid-2-col__grid-3 {
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Case-study1.3.png); } }
    .grid-2-col__grid-3:hover .grid-2-col__grid-text p {
      opacity: 1; }
    .grid-2-col__grid-4 {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(../img/africlick.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 30%; }
      .grid-2-col__grid-4:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/africlick.png); }
      @media (hover: none) {
        .grid-2-col__grid-4 {
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/africlick.png); } }
    .grid-2-col__grid-4:hover .grid-2-col__grid-text p {
      opacity: 1; }
    .grid-2-col__grid-text {
      color: #ffffff; }
      .grid-2-col__grid-text p {
        position: absolute;
        font-size: 4rem;
        letter-spacing: -1px;
        line-height: 4rem;
        bottom: 5rem;
        left: 5rem;
        font-weight: 400;
        opacity: 0;
        cursor: context-menu;
        transition: all .7s; }
        @media (hover: none) {
          .grid-2-col__grid-text p {
            opacity: 1; } }
        @media only screen and (max-width: 56.25em) {
          .grid-2-col__grid-text p {
            font-size: 5rem;
            line-height: 5rem; } }
        @media only screen and (max-width: 37.5em) {
          .grid-2-col__grid-text p {
            letter-spacing: 0px; } }
      .grid-2-col__grid-text svg {
        position: absolute;
        bottom: 20%;
        right: 8%;
        font-size: 2.4rem;
        fill: #ffffff;
        cursor: pointer; }

.form-section {
  background-color: #FFCF25;
  background-image: linear-gradient(to right, transparent 0%, transparent 66%, white 50%); }

.form {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 12rem 8rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 56.25em) {
    .form {
      display: block; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      padding-left: 6rem;
      padding-top: 3rem; } }
  .form__text {
    font-size: 8rem;
    line-height: 9rem; }
    @media only screen and (max-width: 75em) {
      .form__text {
        font-size: 7.6rem;
        line-height: 8rem;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .form__text {
        margin-bottom: 10rem; } }
  .form__input {
    font-size: 1.8rem;
    display: block;
    color: #000000;
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 2rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #333333; }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        font-size: 2.8rem; } }
    .form__input::placeholder {
      color: #000000;
      font-weight: 500; }
  .form button {
    font-size: 1.8rem;
    padding: 1.4rem 6rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background-color: #000000; }
    @media only screen and (max-width: 56.25em) {
      .form button {
        font-size: 3rem;
        padding: 2rem 6rem; } }

.header {
  padding: 4rem 7rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  font-family: brown; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding-left: 5rem; } }
  .header__nav {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    .header__nav::after {
      content: "";
      display: table;
      clear: both; }
    .header__nav-logo {
      height: 5.5rem;
      width: 5.5rem; }
      @media only screen and (max-width: 56.25em) {
        .header__nav-logo {
          height: 6.5rem;
          width: 6.5rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__nav-logo {
          height: 7.5rem;
          width: 7.5rem; } }
    .header__nav-logo-box {
      color: #333333; }
    .header__nav-list {
      margin-top: -4.4rem;
      float: right; }
      @media only screen and (max-width: 56.25em) {
        .header__nav-list {
          display: none;
          width: 100%;
          transition: all .2s;
          margin-top: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__nav-list {
          height: 7rem;
          margin-top: 0;
          align-content: center; } }
      .header__nav-list-parent {
        list-style: none;
        width: 100%;
        animation: animated-menu 1s; }
        .header__nav-list-parent li {
          display: inline-block; }
          .header__nav-list-parent li a {
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 500;
            color: #000000;
            margin-left: 3.7rem; }
            @media only screen and (max-width: 56.25em) {
              .header__nav-list-parent li a {
                font-size: 2.5rem;
                margin-left: 0;
                margin-right: 3.7rem; } }
            @media only screen and (max-width: 37.5em) {
              .header__nav-list-parent li a {
                font-size: 2.4rem; } }
            @media only screen and (max-width: 28.125em) {
              .header__nav-list-parent li a {
                font-size: 2.4rem; } }

.heading {
  font-size: 5rem;
  line-height: 5.9rem;
  letter-spacing: -1px;
  font-family: brown;
  padding: 14rem 7rem 21rem 7rem;
  animation-name: text-transform;
  animation-duration: 0s;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  .heading span {
    display: inline-block; }
    @media only screen and (max-width: 37.5em) {
      .heading span {
        display: inline; } }
  @media only screen and (max-width: 56.25em) {
    .heading {
      font-size: 4.5rem;
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading {
      font-size: 5rem;
      padding: 15rem 5rem 10rem 5rem;
      line-height: 6rem; } }
  .heading__primary {
    font-weight: bold; }
    @media only screen and (max-width: 37.5em) {
      .heading__primary span {
        display: inline; } }
  .heading__secondary {
    font-weight: 300; }

.wavy {
  position: absolute;
  top: 15%;
  left: calc(100% - 7rem);
  z-index: 10000000;
  /*@include respond(tab-port){
        display: none;
    }*/ }
  .wavy svg {
    height: 6.9rem; }

.wavy2 {
  position: fixed;
  bottom: 5%;
  left: 7rem;
  z-index: 10000000; }
  .wavy2 svg {
    height: 7.7rem; }
  @media only screen and (max-width: 37.5em) {
    .wavy2 {
      display: none; } }

.wavy3 {
  position: fixed;
  bottom: 5%;
  right: 7rem;
  z-index: -10;
  /*@include respond(tab-port){
        display: none;
    }*/ }
  .wavy3 svg {
    height: 15rem; }

.navigation {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      display: block;
      margin-top: -6rem; }
      .navigation__checkbox {
        display: none; }
      .navigation__button {
        position: absolute;
        height: 7rem;
        width: 7rem;
        top: 4rem;
        right: 0rem;
        background-color: white;
        padding: 0 8.8rem 0 0rem;
        text-align: center;
        cursor: pointer; }
        .navigation__button-pp {
          background-color: transparent;
          position: fixed; }
      .navigation__background {
        height: 9rem;
        margin-top: -8rem;
        transition: all .8s; } }
    @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
      .navigation__background {
        margin-top: -8rem; } }
  @media only screen and (max-width: 56.25em) {
      .navigation__nav {
        opacity: 0;
        width: 0;
        transition: all .8s; }
      .navigation__list {
        list-style: none;
        text-align: center;
        width: 100%;
        margin-top: -8rem;
        margin-left: -18rem; }
      .navigation__item {
        margin: 1rem;
        float: right; }
      .navigation__link:link, .navigation__link:visited {
        display: inline-block;
        font-size: 3rem;
        color: #000000;
        margin-left: 4rem;
        text-decoration: none; }
        .navigation__link:link span, .navigation__link:visited span {
          display: inline-block;
          margin-right: 1rem; }
      .navigation__link:hover, .navigation__link:active {
        background-position: 100%;
        color: #FF2546;
        transform: translateX(1rem); }
      .navigation__checkbox:checked .header__nav-list {
        display: inline; }
      .navigation__checkbox:checked .post-page__heading-text {
        visibility: hidden; }
      .navigation__icon {
        position: relative;
        margin-top: 3.5rem; }
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          display: inline-block;
          width: 3.8rem;
          height: 4px;
          background-color: #000000; }
        .navigation__icon::before, .navigation__icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s; }
        .navigation__icon::before {
          top: -1.5rem;
          width: 5rem;
          margin-left: -1.2rem; }
        .navigation__icon::after {
          top: 1.5rem;
          width: 4.6rem;
          margin-left: -0.8rem; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent !important; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        top: 0;
        transform: rotate(135deg);
        width: 4.5rem;
        margin: 0; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        top: 0;
        transform: rotate(-135deg);
        width: 4.5rem;
        margin: 0; } }

#blinking-cursor {
  font-weight: 100; }

.homepage-heading-primary {
  margin: 1rem 0 10% 5rem;
  padding: 2rem;
  padding-top: 0;
  padding-left: 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .homepage-heading-primary {
      padding: 2rem;
      padding-left: 0; } }
  @media only screen and (max-width: 28.125em) {
    .homepage-heading-primary {
      margin: 6rem 0 0% 5rem; } }
  .homepage-heading-primary__text-parent {
    width: auto;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
  .homepage-heading-primary__text {
    font-size: 4.5rem;
    letter-spacing: -2px;
    position: absolute;
    top: -55%;
    z-index: 99;
    width: 100rem; }
    @media (max-width: 62.5em) {
      .homepage-heading-primary__text {
        width: 90rem; } }
    @media only screen and (max-width: 56.25em) {
      .homepage-heading-primary__text {
        width: auto;
        top: 20%; } }
    @media only screen and (max-width: 37.5em) {
      .homepage-heading-primary__text {
        letter-spacing: 0;
        font-size: 5.4rem;
        line-height: 11rem; } }
    @media only screen and (max-width: 28.125em) {
      .homepage-heading-primary__text {
        margin-top: -5rem;
        font-size: 4.4rem;
        line-height: 9.5rem; } }
  .homepage-heading-primary-parent {
    width: 100%; }
  .homepage-heading-primary__bg {
    background-color: #FFCF25;
    height: 17rem;
    width: 58vw;
    margin: 16rem 0 0 0rem;
    z-index: -99999999;
    transform: rotate(-7.1deg) matrix(1, 0, 0, 1, 0, 0); }
    @media only screen and (max-width: 56.25em) {
      .homepage-heading-primary__bg {
        margin: 16rem 0 0 2rem; } }
    @media only screen and (max-width: 28.125em) {
      .homepage-heading-primary__bg {
        transform: matrix(1, -0.19, 0, -1.02, 0, 0);
        margin: 25rem 0 0 7rem;
        height: 25rem;
        width: 90%; } }

.clients {
  background-color: #FFCF25;
  width: 100%;
  transform: skewY(-3deg); }
  .clients-div {
    padding: 0 7rem;
    height: 33rem;
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 37.5em) {
      .clients-div {
        display: block;
        height: auto;
        padding: 0; } }
  @media only screen and (max-width: 37.5em) {
    .clients {
      padding: 2rem 5rem; } }
  .clients__text {
    width: 100%; }
    .clients__text p {
      font-size: 5.9rem;
      line-height: 6.5rem;
      font-weight: bold;
      width: 50rem;
      transform: skewY(3deg);
      letter-spacing: -2px;
      margin-top: -7rem;
      color: #000000; }
      @media only screen and (max-width: 37.5em) {
        .clients__text p {
          font-size: 9rem;
          line-height: 10rem;
          width: auto;
          letter-spacing: -2px; } }
      @media only screen and (max-width: 28.125em) {
        .clients__text p {
          font-size: 7.5rem;
          line-height: 9rem; } }
      .clients__text p a {
        color: #000000;
        transition: all .3s; }
        .clients__text p a:hover {
          color: #FF2546; }
  .clients__carousel {
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(3deg) scale(2); }
    @media only screen and (max-width: 37.5em) {
      .clients__carousel {
        position: relative;
        left: 0%;
        width: 100%;
        margin-top: 8rem;
        transform: skewY(3deg);
        display: flex; } }
  .clients__images {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    padding: 0 3rem; }
    @media only screen and (max-width: 56.25em) {
      .clients__images {
        display: block; } }
    @media only screen and (max-width: 37.5em) {
      .clients__images {
        padding: 0 7rem; } }
  .clients__image1, .clients__image2, .clients__image3 {
    width: 100%; }
    .clients__image1:not(:last-child), .clients__image2:not(:last-child), .clients__image3:not(:last-child) {
      padding-right: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .clients__image1:not(:last-child), .clients__image2:not(:last-child), .clients__image3:not(:last-child) {
          padding-right: 0rem; } }
  @media only screen and (max-width: 56.25em) {
    .clients__image2, .clients__image3 {
      display: none; } }

.arr-img {
  margin-top: 50%;
  height: 10px;
  width: 10px; }
  @media only screen and (max-width: 37.5em) {
    .arr-img {
      margin-top: 0%;
      height: 90px;
      width: 25px; } }

.our-world {
  padding: 10% 7rem 10% 5rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 37.5em) {
    .our-world {
      margin: 15% 0rem 10% 0rem;
      padding-right: 5rem; } }
  .our-world__heading {
    margin-left: 2rem;
    font-size: 4.5rem;
    letter-spacing: -2px;
    font-weight: bold; }
    @media only screen and (max-width: 56.25em) {
      .our-world__heading {
        font-size: 6rem;
        letter-spacing: -4px; } }
    @media only screen and (max-width: 37.5em) {
      .our-world__heading {
        margin-left: 0rem;
        letter-spacing: 0px;
        font-size: 5.5rem;
        line-height: 5.5rem; } }
  .our-world__container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 33.333%); }
    @media only screen and (max-width: 56.25em) {
      .our-world__container {
        display: block; } }
    @media only screen and (max-width: 37.5em) {
      .our-world__container {
        margin-top: 6rem; } }
  .our-world__grid {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 2rem;
    letter-spacing: -1px;
    line-height: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .our-world__grid {
        margin-bottom: 8rem;
        font-size: 5rem;
        line-height: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .our-world__grid {
        margin-left: 0rem;
        letter-spacing: 0px;
        font-size: 3.4rem;
        line-height: 4.5rem; } }
    .our-world__grid-heading {
      color: #FF2546;
      font-size: 2rem;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .our-world__grid-heading {
          font-size: 3.5rem;
          margin-bottom: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .our-world__grid-heading {
          margin-bottom: 1rem;
          font-size: 2.9rem;
          letter-spacing: 0; } }
    .our-world__grid img {
      margin-top: 2.6rem;
      width: 100%; }

.fade-up {
  background-color: #000000;
  height: 0vh;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: 999999;
  animation-name: colorFadeUp;
  animation-duration: 1.5s; }

.about-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -999;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 56.25em) {
    .about-header {
      z-index: 0; } }

.about-heading {
  position: fixed;
  top: 14rem;
  z-index: -999;
  perspective: 1000;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  right: 50%;
  transform: translateX(50%); }
  @media only screen and (max-width: 37.5em) {
    .about-heading {
      top: 25rem; } }
  @media only screen and (max-width: 28.125em) {
    .about-heading {
      top: 15rem;
      padding-top: 7rem; } }

.section-background {
  background-color: #000000;
  color: #ffffff;
  font-family: brown;
  transform: skewY(-3deg);
  margin-top: 97vh;
  padding-top: 1rem; }

@media only screen and (max-width: 37.5em) and (max-height: 1400px) {
  .section-background {
    margin-top: 70rem; } }
  .section-background__text {
    display: block;
    font-family: brown;
    font-size: 2.4rem;
    margin: 4rem 7rem;
    transform: skewY(3deg);
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    .section-background__text::after {
      content: "";
      display: table;
      clear: both; }
    .section-background__text h3 {
      float: right;
      font-weight: 300;
      font-size: 2.4rem; }
  .section-background__grid {
    font-family: brown;
    font-size: 2.4rem;
    font-weight: 300;
    transform: skewY(3deg);
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 10rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 56.25em) {
      .section-background__grid {
        grid-template-columns: auto;
        margin: 0 6rem; } }
    .section-background__grid-1:not(:last-child) {
      padding: 0 3rem 0 0;
      position: relative; }
      @media only screen and (max-width: 56.25em) {
        .section-background__grid-1:not(:last-child) {
          padding: 0 0rem 0; } }
    .section-background__grid-1-a {
      width: 100%;
      position: relative; }
      @media only screen and (max-width: 56.25em) {
        .section-background__grid-1-a:not(:first-child) {
          position: absolute;
          top: 0rem; } }
      .section-background__grid-1-a-text {
        position: absolute;
        font-size: 14.4rem;
        transform: rotate(-90deg);
        left: -7rem;
        font-weight: bold;
        letter-spacing: -8px;
        top: 1rem; }
        @media only screen and (max-width: 37.5em) {
          .section-background__grid-1-a-text {
            font-size: 13rem;
            left: -10rem;
            letter-spacing: -3px; } }
        @media only screen and (max-width: 28.125em) {
          .section-background__grid-1-a-text {
            font-size: 10rem; } }
        .section-background__grid-1-a-text-sub {
          position: absolute;
          font-size: 14.4rem;
          transform: rotate(-90deg);
          right: 0;
          font-weight: bold;
          letter-spacing: -8px; }
          @media only screen and (max-width: 56.25em) {
            .section-background__grid-1-a-text-sub {
              right: 0%;
              top: 0rem; } }
          @media only screen and (max-width: 37.5em) {
            .section-background__grid-1-a-text-sub {
              font-size: 13rem;
              letter-spacing: -3px; } }
      .section-background__grid-1-a img {
        width: 100%; }
    .section-background__grid-1-b {
      padding: 2rem 10rem 16rem 2rem; }
      @media only screen and (max-width: 56.25em) {
        .section-background__grid-1-b {
          width: 100%;
          font-size: 3.5rem;
          line-height: 5rem;
          padding: 0;
          margin-top: 80%; } }
      @media only screen and (max-width: 37.5em) {
        .section-background__grid-1-b {
          font-size: 2.8rem;
          line-height: 4.5rem; } }
      .section-background__grid-1-b2 {
        padding: 4rem 0 8rem 7rem; }
        @media only screen and (max-width: 56.25em) {
          .section-background__grid-1-b2 {
            float: left;
            width: 100%;
            text-align: left;
            line-height: 5rem;
            font-size: 3.5rem;
            padding: 5rem 0 11rem 0; } }
        @media only screen and (max-width: 37.5em) {
          .section-background__grid-1-b2 {
            font-size: 2.8rem;
            line-height: 4.5rem; } }

.section-work {
  padding-top: 12rem;
  margin-top: -8rem;
  background-color: #fff;
  z-index: -9;
  width: 100%; }
  .section-work__heading {
    color: #000000;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    .section-work__heading::after {
      content: "";
      display: table;
      clear: both; }
    .section-work__heading h3 {
      float: right;
      margin-right: 7rem;
      font-family: brown;
      font-size: 2.4rem;
      font-weight: 300;
      font-size: 2.4rem; }
  @media only screen and (max-width: 56.25em) {
    .section-work__nowrap {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      scroll-snap-type: x mandatory;
      scroll-snap-type: mandatory; } }
  .section-work__main {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-top: 5rem;
    font-family: brown;
    font-size: 2.4rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 56.25em) {
      .section-work__main {
        grid-template-columns: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-top: 0rem; } }
    .section-work__main-subject {
      font-size: 9.6rem;
      font-weight: bold;
      line-height: 9rem;
      position: sticky;
      top: 10%;
      color: #BDBDBD; }
      @media only screen and (max-width: 56.25em) {
        .section-work__main-subject {
          position: relative;
          margin-top: 2rem;
          margin-bottom: 6rem;
          font-size: 8.2rem; } }
      .section-work__main-subject p {
        display: inline-block; }
    .section-work__main-content {
      position: relative;
      margin-left: 7rem;
      height: 100vh;
      top: 5px;
      display: inline-block; }
      @media only screen and (max-width: 56.25em) {
        .section-work__main-content {
          scroll-snap-align: start;
          margin-left: 0rem; }
          .section-work__main-content:not(:last-child) {
            margin-right: 7rem; } }
      .section-work__main-content-bg {
        background-color: #25F2FF;
        height: 25rem;
        width: 60rem;
        margin-top: 10%; }
        @media only screen and (max-width: 56.25em) {
          .section-work__main-content-bg {
            margin-top: 20%; } }
      .section-work__main-content-text {
        position: absolute;
        top: 0%;
        padding: 0 8rem;
        white-space: normal; }
        @media only screen and (max-width: 56.25em) {
          .section-work__main-content-text {
            top: 0rem; } }
        .section-work__main-content-text p {
          margin-top: 5rem; }

.post-page__heading {
  position: fixed;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/whichride.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: -99; }
  @media only screen and (max-width: 37.5em) {
    .post-page__heading {
      height: 70vh; } }
  .post-page__heading-text {
    position: fixed;
    font-size: 7.6rem;
    line-height: 9rem;
    letter-spacing: -2px;
    width: 100%;
    max-width: 100%;
    top: 50%;
    z-index: -50;
    color: #ffffff; }
    @media only screen and (max-width: 37.5em) {
      .post-page__heading-text {
        top: 30%;
        font-size: 6.6rem;
        padding-left: 0rem; } }
    .post-page__heading-text h3 {
      max-width: 1260px;
      margin: 0 auto; }

.post-page__bg {
  width: 100%; }

.post-page__nav {
  top: 5%;
  left: 10%;
  color: #ffffff;
  z-index: 99999999; }

.product-info {
  margin-top: 100vh;
  width: 100%;
  z-index: 1000;
  position: relative;
  height: 100vh;
  min-height: 675px;
  max-height: 1200px;
  padding: 7rem;
  background-color: #F7F7F7;
  font-size: 2.4rem; }
  @media only screen and (max-width: 37.5em) {
    .product-info {
      padding: 8rem 5rem;
      margin-top: 70vh; } }
  @media only screen and (max-width: 28.125em) {
    .product-info {
      padding: 8rem 5rem; } }
  @media only screen and (max-height: 37.5em) {
    .product-info {
      padding: 2rem; } }
  .product-info-box {
    color: #BDBDBD;
    display: grid;
    grid-template-columns: 25% 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 56.25em) {
      .product-info-box {
        display: block;
        padding: 5rem; } }
    .product-info-box1 {
      font-size: 1.8rem;
      color: #000;
      margin-left: auto; }
      @media only screen and (max-width: 56.25em) {
        .product-info-box1 {
          margin-bottom: 8rem;
          font-size: 3rem; } }
      @media only screen and (max-width: 28.125em) {
        .product-info-box1 {
          line-height: 3.8rem; } }
    .product-info-box2 {
      margin-left: 10rem;
      padding-bottom: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .product-info-box2 {
          margin-left: 0rem; } }
      .product-info-box2__text1 {
        color: #222222;
        margin-bottom: 5rem;
        font-weight: bold; }
        @media only screen and (max-width: 56.25em) {
          .product-info-box2__text1 {
            font-size: 3.5rem; }
            .product-info-box2__text1 span {
              display: inline; } }
        @media only screen and (max-width: 28.125em) {
          .product-info-box2__text1 {
            line-height: 4.5rem; } }
      .product-info-box2__text2 {
        margin-bottom: 8rem;
        font-weight: 200;
        line-height: 3.5rem;
        margin-right: 7rem;
        color: #333333; }
        @media only screen and (max-width: 56.25em) {
          .product-info-box2__text2 {
            margin-right: 0rem; } }
        @media only screen and (max-width: 37.5em) {
          .product-info-box2__text2 {
            font-weight: 300; } }
      .product-info-box2 a {
        color: #333333;
        background-color: transparent;
        font-size: 1.8rem;
        letter-spacing: 0;
        text-decoration: none;
        border: 2px solid #333333;
        padding: 2.3rem 3.2rem;
        transition: all .3s;
        /*&:hover{
                    background-color: $color-white;
                    color: $color-black;
                }*/ }
        @media only screen and (max-width: 37.5em) {
          .product-info-box2 a {
            font-size: 2.8rem; } }
        .product-info-box2 a:hover {
          background-color: #333333;
          color: #BDBDBD; }
          .product-info-box2 a:hover, .product-info-box2 a:hover #see-complete-arr {
            fill: #BDBDBD; }
        .product-info-box2 a svg {
          margin-left: 3.2rem; }

.portfolio {
  background-color: #fff; }
  .portfolio__showcase-1 {
    background-color: #F2C94C;
    height: 100vh;
    max-height: 1200px;
    width: 100%;
    display: grid;
    justify-content: center;
    padding-top: 18rem; }
    @media only screen and (max-width: 56.25em) {
      .portfolio__showcase-1 {
        height: 80vh; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio__showcase-1 {
        height: 70rem; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio__showcase-1 {
        height: 55vh;
        padding-top: 10rem; } }
    .portfolio__showcase-1 img {
      height: 105vh;
      max-height: 1300px;
      max-width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .portfolio__showcase-1 img {
          height: 85vh; } }
      @media only screen and (max-width: 37.5em) {
        .portfolio__showcase-1 img {
          height: 65rem; } }
      @media only screen and (max-width: 28.125em) {
        .portfolio__showcase-1 img {
          height: 55vh; } }
  .portfolio__text {
    background-color: #fff;
    height: 140vh;
    max-height: 1300px;
    display: flex;
    padding-bottom: 40rem;
    padding-top: 10rem;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .portfolio__text {
        height: 100rem; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio__text {
        height: 80rem;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-top: auto;
        flex-direction: column; } }
    @media only screen and (max-width: 28.125em) {
      .portfolio__text {
        height: 90rem; } }
    .portfolio__text--line {
      height: 10px;
      width: 50px;
      background-color: #000; }
    .portfolio__text-1 {
      font-weight: bold;
      font-size: 3.6rem;
      line-height: 3.5rem;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: 5rem;
      margin-top: 10rem; }
      @media only screen and (max-width: 37.5em) {
        .portfolio__text-1 {
          margin-left: auto;
          margin-right: auto;
          margin-top: 30rem;
          width: 45rem; } }
      .portfolio__text-1 p {
        margin-top: 3rem; }
    .portfolio__text-2 {
      margin-top: 45rem;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.8rem;
      width: 55.8%; }
      @media only screen and (max-width: 37.5em) {
        .portfolio__text-2 {
          margin-top: 8rem;
          width: 45rem; } }
      .portfolio__text-2 p {
        width: 45rem; }
        @media only screen and (max-width: 56.25em) {
          .portfolio__text-2 p {
            width: auto;
            margin-right: 7rem;
            font-size: 2.5rem;
            line-height: 3.5rem; } }
        @media only screen and (max-width: 37.5em) {
          .portfolio__text-2 p {
            margin-right: 0;
            margin-bottom: 4rem; } }
  .portfolio__showcase-2 {
    background-color: #F7F7F7;
    width: 100%;
    display: grid;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 7rem; }
    .portfolio__showcase-2 img {
      margin-top: -20rem;
      height: 95vh;
      max-height: 1100px;
      max-width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .portfolio__showcase-2 img {
          height: 80vh;
          margin-top: -24rem; } }
      @media only screen and (max-width: 37.5em) {
        .portfolio__showcase-2 img {
          height: 70vh;
          margin-top: -20rem; } }
      @media only screen and (max-width: 28.125em) {
        .portfolio__showcase-2 img {
          height: 60rem; } }
  .portfolio__showcase-3 {
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 10rem;
    padding-bottom: 5rem; }
    .portfolio__showcase-3 img {
      height: 95vh;
      max-height: 1000px;
      max-width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .portfolio__showcase-3 img {
          height: 60vh; } }
      @media only screen and (max-width: 28.125em) {
        .portfolio__showcase-3 img {
          height: 45rem; } }

.enable-heading {
  background-image: linear-gradient(to right, rgba(21, 21, 21, 0.1), rgba(21, 21, 21, 0.1)), url(../img/Casestudy1.2-big.png); }
  @media only screen and (max-width: 37.5em) {
    .enable-heading {
      background-image: linear-gradient(to right, rgba(21, 21, 21, 0.1), rgba(21, 21, 21, 0.1)), url(../img/Casestudy1.2.png); } }

.enable-app-1 {
  background-color: rgba(47, 128, 237, 0.05); }
  @media only screen and (max-width: 56.25em) {
    .enable-app-1 {
      height: 80rem; } }
  .enable-app-1 img {
    max-height: 800px; }
    @media only screen and (max-width: 56.25em) {
      .enable-app-1 img {
        width: 95vw;
        height: auto; } }
    @media only screen and (max-width: 28.125em) {
      .enable-app-1 img {
        height: auto; } }

.enable-portfolio__text {
  padding-bottom: 30rem; }

.enable-app-2 {
  background-color: rgba(47, 128, 237, 0.05); }
  .enable-app-2 img {
    width: 80%;
    max-width: 1440px;
    height: auto;
    margin: auto;
    margin-top: 0; }

.work-fadeup {
  background-color: #FF2546;
  height: 0vh;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: 999999;
  animation-name: colorFadeUp;
  animation-duration: 1.5s;
  position: absolute; }

.contact-fadeup {
  position: fixed;
  background-color: #FFCF25;
  height: 0vh;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: 999999;
  animation-name: colorFadeUp;
  animation-duration: 1.5s; }

.contact__heading {
  padding-bottom: 18rem;
  padding-top: 11rem; }
  @media only screen and (max-width: 56.25em) {
    .contact__heading {
      padding-top: 18rem; } }
  .contact__heading--secondary {
    line-height: 4rem;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 3rem;
    margin-top: 1.8rem; }
  .contact__heading span {
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .contact__heading span {
        display: inline; } }

.location {
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: 33% 67%;
  height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 56.25em) {
    .location {
      display: block;
      height: auto;
      padding-left: 0%; } }
  .location__address {
    background-color: #FF2546;
    color: #ffffff;
    padding: 8rem 8rem 0 8rem;
    height: 70%; }
    @media only screen and (max-width: 56.25em) {
      .location__address {
        padding: 8rem;
        height: auto;
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .location__address {
        padding-left: 5rem; } }
  .location__heading {
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 4rem;
    line-height: 4.5rem; }
  .location__heading2 {
    font-size: 1.6rem;
    line-height: 2.3rem;
    font-weight: 300; }
    @media only screen and (max-width: 56.25em) {
      .location__heading2 {
        font-size: 3rem;
        line-height: 4.3rem; } }
  .location__phone {
    font-size: 1.6rem;
    line-height: 2.3rem;
    font-weight: 300;
    font-weight: bold; }
    @media only screen and (max-width: 56.25em) {
      .location__phone {
        font-size: 2.6rem;
        padding-top: 1rem; } }
  .location__map iframe {
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .location__map iframe {
        height: 45rem; } }
