.header{
    //height: 95vh;
    //width: 80vw;
    padding: $heading-padding;
    @include max-width;
    @include respond(tab-port){
        padding-left: 5rem;
    }
    //background-color: red;
    font-family: brown;
    &__nav{
        //background-color: blue;
        @include max-width;
        @include clearfix;
        &-logo{
            height: 5.5rem;
            width: 5.5rem;
            @include respond(tab-port){
                height: 6.5rem;
            width: 6.5rem;
            }
            @include respond(tab-port){
                height: 7.5rem;
            width: 7.5rem;
            }
        }
        &-logo-box{
        //position: absolute;
        //display: inline-block;
        color: $nav-text-color;
        }
        &-list{
            @include respond(tab-port){
                display: none;
                width: 100%;
                //margin-right: 7rem;
                transition: all .2s;
                margin-top: 1rem;
            }
            @include respond(tab-port){
                margin-top: 2.5rem;
            }
            margin-top: -4.4rem;
            float: right;
            &-parent{
                list-style: none;
                width: 100%;
                animation: animated-menu 1s;
                & li{
                    
                    display: inline-block;
                    & a{
                        text-decoration: none;
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: $color-black;
                        margin-left: 3.7rem; 
                        color: pink;
                        @include respond(tab-port){
                            font-size: 2.5rem;
                            margin-left: 0; 
                            margin-right: 3.7rem; 
                        }
                        @include respond(phone){
                            font-size: 2.4rem;
                        }
                        @include respond(phone-small){
                            font-size: 2.4rem;
                        }
                    }
                }
            }
        }
    }
}