.heading{
    font-size: 5rem;
    font-family: brown;
    padding: $heading-padding;

    @include respond(tab-port){
        font-size: 4rem;
        padding: $heading-padding-small;
    }
    &__primary{
        font-weight: bold;
    }

    &__secondary{
        font-weight: normal;
    }
}
.wavy{
    position: fixed;
    top: 15%;
    right: 10%;
    z-index: 10000000;
    @include respond(tab-port){
        display: none;
    }
}
.wavy2{
    position: fixed;
    bottom: 5%;
    left: 10%;
    z-index: 10000000;
    @include respond(tab-port){
        display: none;
    }
}