.heading{
    font-size: 4.5rem;
    line-height: 5.9rem;
    letter-spacing: -1px;
    font-family: brown;
    padding: 11rem 7rem 18rem 7rem;

    @include respond(tab-port){
        font-size: 3.5rem;
        padding: $heading-padding-small;
    }
    @include respond(phone){
        font-size: 5rem;
        padding: $heading-padding-small;
        line-height: 6rem;
    }
    &__primary{
        font-weight: bold;

        & span{
            @include respond(phone){
                display: inline;
            }
            
        }
    }

    &__secondary{
        font-weight: 300;
    }
}
.wavy{
    position: absolute;
    top: 15%;
    left: calc(100% - 7rem);
    z-index: 10000000;

    svg{
        height: 6.9rem;
    }
    /*@include respond(tab-port){
        display: none;
    }*/
}
.wavy2{
    position: fixed;
    bottom: 5%;
    left: 7rem;
    z-index: 10000000;

    svg{
        height: 7.7rem;
    }

    @include respond(phone){
        display: none;
    }
}
.wavy3{
    position: fixed;
    bottom: 5%;
    right: 7rem;
    z-index: -10;

    svg{
        height: 15rem;
    }

    /*@include respond(tab-port){
        display: none;
    }*/
}