.header{
    //height: 95vh;
    //width: 80vw;
    padding: $heading-padding;
    //background-color: red;
    font-family: brown;
    &__nav{
        //background-color: blue;
        &-logo{
            height: 3.5rem;
        }
        &-logo-box{
        //position: absolute;
        //display: inline-block;
        color: $nav-text-color;
        }
        &-list{
            float: right;

            &-parent{
                list-style: none;
                & li{
                    
                    display: inline-block;
                    & a{
                        text-decoration: none;
                        font-size: 1.5rem;
                        
                        margin-left: 3rem; 
                    }
                }
            }
        }
    }
}