$nav-text-color: #333333;
$color-yellow: #FFCF25;

$heading-padding: 3rem 10rem;
$heading-padding-small: 3rem 5rem;

$color-black: #000000;
$color-white: #ffffff;
$color-grey-light: #BDBDBD;
$color-pink: #FF2546;
$color-lemon-green: #85FF25;
$color-blue: #18B1E2;;

$font-small: 2.4rem;
$font-smaller: 1.6rem