.africlick{
    display: grid;
    grid-template-columns: 55% 40%;
    margin: 4rem;
    margin-left: 8rem;
    font-family: brown;
    height: 50rem;

    @include respond(tab-port){
        width: 80%;
        padding-left: 10%;
        display: inline-block;
        margin: 4rem;
        height: auto;
    }
    @include respond(phone-small){
        padding-left: 0;
    }
    &__grid{
        position: relative;
        box-shadow: 20px 20px 0px 0 $color-pink;
        height: 100%;
        @include background-image(url(../img/africlick.png));

        @include respond(tab-port){
            height: 30rem;
            //padding-top: 5rem;
        }
    }

    &__text{
        margin-left: 6rem;
        margin-top: 20%;
        @include respond(tab-port){
            margin-left: 0;
            margin-top: 3rem;
        }

        & h3{
            font-size: 4rem;
        }

        & p{
            margin: 5rem 0;
            font-size: 2.2rem;
            font-weight: bold;
        }

        & a{
            color: $color-pink;
            font-size: 1.8rem;
            text-decoration: none;
            font-weight: bold;
        }
    }
    
}