.africlick{
    display: grid;
    grid-template-columns: 55% 40%;
    margin-bottom: 4rem;
    font-family: brown;
    height: 47rem;

    @include respond(tab-port){
        width: 80%;
        padding-left: 10%;
        display: inline-block;
        height: auto;
    }
    @include respond(phone-small){
        padding-left: 10%;
    }
    @include respond(big-desktop){
        height: 50rem;
        margin-left: 5rem;
    }
    &__grid{
        position: relative;
        box-shadow: 20px 20px 0px 0 $color-pink;
        height: 100%;
        @include background-image(url(../img/africlick.png));

        @include respond(tab-port){
            height: 30rem;
            //padding-top: 5rem;
        }
    }

    &__text{
        margin: 7rem 0 7rem 10rem;
        @include respond(tab-port){
            margin-left: 0;
            margin-top: 3rem;
        }

        & h3{
            font-size: 4rem;
            letter-spacing: -2px;
        }

        & p{
            margin: 3rem 0;
            font-size: 1.6rem;
            font-weight: light;
        }

        & a{
            color: $color-pink;
            font-size: 1.8rem;
            text-decoration: none;
            font-weight: bold;
        }
    }
    
}