.grid-2-col{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0rem 7rem;
    @include max-width;
    
    @include respond(tab-port){
        display: block;
    }

    @include respond(phone){
        padding: 0rem 5rem;
    }

    &__grid{
        height: 40rem;
        position: relative;
        &:first-child{
            margin-right: 1rem;
            @include respond(tab-port){
                margin-right: 0rem;
            } 
         }
        &:not(:first-child){
            margin-left: 1rem; 
            @include respond(tab-port){
                margin-left: 0rem;
            } 
         }
        //transition: all .2s;
        &-1{
            @include grid-structure(url(../img/Casestudy1.1.png));
        }
        &-1:hover &-text p{
            opacity: 1;
        }

        &-2{
            @include grid-structure(url(../img/Casestudy1.2.png));
        }
        &-2:hover &-text p{
            opacity: 1;
        }
        &-3{
            @include grid-structure(url(../img/Case-study1.3.png))
        }
        &-3:hover &-text p{
            opacity: 1;
        }
        &-4{
            @include grid-structure(url(../img/africlick.png))
        }
        &-4:hover &-text p{
            opacity: 1;
        }



        &-text{

            color: $color-white;
            //height: 100%;
            
            & p{
                position: absolute;
                font-size: 4rem;
                letter-spacing: -1px;
                line-height: 4rem;
                bottom: 5rem;
                left: 5rem;
                font-weight: 400;
                opacity: 0;
                cursor: context-menu;
                transition: all .7s;
                
                @media (hover:none){
                    opacity: 1;
                }
                @include respond(phone){
                    letter-spacing: 0px;
                }
                //transform: translate(-100%);
            }
            & svg{
                position: absolute;
                bottom: 20%;
                right: 8%;
                font-size: 2.4rem;
                fill: $color-white;
                cursor: pointer;
            }
        }
        
        
            //box-shadow: 20px 20px 0px 0 blue;
            
        }
    }
