@keyframes heading-turn-up{
    0%{
        background-image: linear-gradient(to right, #7ed56f, #28b485);
    }
    100%{
        background-image: linear-gradient(to left, #c1d4be, #010c08);
    }
}
//transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

//For the initial color fade up on some pages
@keyframes colorFadeUp {
    0%{
        height: 100vh;
        margin-top: 100vh;
    }
    30%{
        margin-top: 0vh;
        height: 100vh;
        
    }
    50%{
        margin-top: 0vh;
        height: 100vh;
        
    }
    100%{
        height: 0vh;
    }
}


@keyframes text-transform {
    0%{
        visibility: hidden;
       }
    99%{
        visibility: hidden;
       }
    
    
}