#blinking-cursor{
    font-weight: 100;
    //display: inline;
}
.homepage-heading-primary{
    //height: 60vh;
    margin: 1rem 0 10% 5rem;
        padding: 2rem;
        padding-top: 0;
        padding-left: 0;
    position: relative;
    
    //transform: translate3d(0.1, 2, 4);

    // @include respond(tab-land){
    //     margin: 1rem 0 10% 5rem;
    //     padding: 2rem;
    //     padding-top: 0;
    //     padding-left: 0;
    // }
    @include respond(tab-port){
        //margin: 1rem 0 10% 7rem;
        padding: 2rem;
        padding-left: 0;
    }

    @include respond(phone-small){
        margin: 6rem 0 0% 5rem;
    }

    &__text-parent{
        width: auto;
        @include max-width;
        // transform-style: preserve-3d;
        // perspective: 1000;
        // -webkit-perspective: 1000;
    }
    &__text{
    font-size: 4.5rem;
    letter-spacing: -2px;
    position: absolute;
    top: -55%;
    z-index: 99;
    //transform: translateY(-50%);
    width: 100rem;

    @media (max-width: 62.5em) { //600px
        //.homepage-heading-primary__text{
            width: 90rem;
       // }
    };
    @include respond(tab-port){
        width: auto;
        top: 20%;
    }
    @include respond(phone){
        //font-size: 4rem;
        letter-spacing: 0;
        font-size: 5.4rem;
        line-height: 11rem;
        }
        @include respond(phone-small){
            margin-top: -5rem;
            font-size: 4.4rem;
            line-height: 9.5rem;
            }
    }

    &-parent{
        width: 100%;
    }
    @include respond(phone){
        //width: 1rem;
    }
    

    &__bg{
        background-color: $color-yellow;
        height: 17rem;
        width: 58vw;
        margin: 16rem 0 0 0rem;
        z-index: -99999999;
        transform: rotate(-7.1deg) matrix(1, 0, 0, 1, 0, 0);
        @include respond(tab-port){
            margin: 16rem 0 0 2rem;
            //width: auto;
        //     background-image: linear-gradient(to right, transparent 10%, $color-yellow 10%, 
        // $color-yellow 90%, transparent 90%, transparent 100%) ;
        }

        // @include respond(phone){
        //     transform: matrix(1, -0.19, 0.08, 0.98, 0, 0);
        //     width: 100%;   
        // }
        @include respond(phone-small){
            transform: matrix(1, -0.19, 0.0, -1.02, 0, 0);
            margin: 25rem 0 0 7rem;
            height: 25rem;
            width: 90%;
        }
    } 
}
.clients{
    background-color: $color-yellow;
    width: 100%;
    transform: skewY(-3deg);
    //max-width: 1236px;

    &-div{
        padding: 0 7rem;
    height: 33rem;
    display: grid;
    grid-template-columns: 30% 70%;
    @include max-width;
    @include respond(phone){
         display: block;
         height: auto;
         padding: 0;
         } 
    }

     @include respond(phone){
    //     display: inline-block;
    //     height: 50rem;
         padding: 2rem 5rem;
         //shape-margin: 5rem 0;
     }   

    &__text {
        width: 100%;
        p{
        font-size: 5.9rem;
        line-height: 6.5rem;
        font-weight: bold;
        width: 50rem;
        transform: skewY(3deg);
        letter-spacing: -2px;
        margin-top: -7rem;
        color: $color-black;
        @include respond(phone){
            font-size: 9rem;
            line-height: 10rem;
            width: auto;
            letter-spacing: -2px;
        }   
        @include respond(phone-small){
         font-size: 7.5rem;
         line-height: 9rem;
         } 

        a{
            color: $color-black;
            transition: all .3s;
            &:hover{
                color: $color-pink;
            }
        }
    }
}

    &__carousel{
        //font-size: 4rem;
        display: grid;
        grid-template-columns: repeat(3, auto);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) skewY(3deg) scale(2);
        @include respond(phone){
        position: relative;
        left: 0%;
        width: 100%;
        margin-top: 8rem;
        transform: skewY(3deg);
        display: flex;
        } 
        @include respond(phone-small){
            // width: 85%;
            // margin-left: 15%;
            // margin-top: 1rem;
         } 
    }
    &__images{
        display: grid;
        grid-template-columns: repeat(3, 33.333%);
        padding: 0 3rem;
        @include respond(tab-port){
            display: block;
            //width: 25rem;
        }  @include respond(phone){
            padding: 0 7rem;
        }        
    }
    &__image1, &__image2, &__image3{
        width: 100%;
        &:not(:last-child){
          padding-right: 2rem;
          @include respond(phone){
            padding-right: 0rem;
          } 
        }
        @include respond(phone){
           //width: 80%;
           //padding-left: 10%;
         } 
    }
    &__image2, &__image3{
        @include respond(tab-port){
           display: none;
        }  
    }
    
}
.arr-img{
    margin-top: 50%;
    height: 10px;
    width: 10px;
    @include respond(phone){
        margin-top: 0%;
        height: 90px;
    width: 25px;
     }  
}
.our-world{
    padding: 10% 7rem 10% 5rem;
    @include max-width;

    // @include respond(tab-port){
    //     margin: 10% 5rem 10% 5rem;
    // }
    @include respond(phone){
        margin: 15% 0rem 10% 0rem;
        padding-right: 5rem;
    }
    &__heading{
        margin-left: 2rem;
        font-size: 4.5rem;
        letter-spacing: -2px;
        font-weight: bold;
        @include respond(tab-port){
            font-size: 6rem;
            letter-spacing: -4px;
        }
        @include respond(phone){
            margin-left: 0rem;
            letter-spacing: 0px;
            font-size: 5.5rem;
            line-height: 5.5rem;
        }
    }
    &__container{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 33.333%);

        @include respond(tab-port){
            display: block;
        }
        @include respond(phone){
            margin-top: 6rem;
        }
    }
    &__grid{
        font-size: 2.5rem;
        font-weight: bold;
        margin-left: 2rem;
        letter-spacing: -1px;
        line-height: 3rem;
        @include respond(tab-port){
            margin-bottom: 8rem;
            font-size: 5rem;
            line-height: 5rem;
        }
        @include respond(phone){
            margin-left: 0rem;
            letter-spacing: 0px;
            font-size: 3.4rem;
    line-height: 4.5rem;
        }
        &-heading{
            color: $color-pink;
            font-size: 2rem;
            margin-bottom: 2rem;
            @include respond(tab-port){
                font-size: 3.5rem;
                margin-bottom: 3rem;
            }
            @include respond(phone){
                margin-bottom: 1rem;
                font-size: 2.9rem;
                letter-spacing: 0;
            }
        }

        img{
            margin-top: 2.6rem;
            width: 100%;
        }
    }
}