.homepage-heading-primary{
    //height: 60vh;
    margin: 15% 0;
    position: relative;

    @include respond(tab-land){
        margin: 25% 0 15% 0;
        padding: 2rem;
    }

    @include respond(phone-small){
        margin: 25% 0 15% 0;
        padding: 2rem;
        padding-top: 20rem;
    }

    &__text{
    font-size: 4.5rem;
    //line-height: 15rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include respond(phone){
        font-size: 4rem;
        }
    }
    
    

    &-parent{
        width: 100%;
    }
    @include respond(phone){
        //width: 1rem;
    }
    

    &__bg{
        background-color: $color-yellow;
        height: 12rem;
        transform: rotate(-7.1deg);
        //margin-left: 12rem;
    } 
}
.clients{
    background-color: $color-yellow;
    width: 100%;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 30% 70%;
    transform: skewY(-2deg);
    @include respond(phone){
        display: inline-block;
    }   

    &__text {
        width: 100%;
        p{
        font-size: 5rem;
        line-height: 5rem;
        font-weight: bold;
        width: 25rem;
        transform: skewY(2deg);
        margin-top: -5rem;
        color: $color-black;
        @include respond(phone){
            width: 40rem;
            margin-left: 10%;
        }   

        a{
            color: $color-black;
            &:hover{
                color: $color-pink;
            }
        }
    }
}

    &__carousel{
        font-size: 4rem;
        display: grid;
        grid-template-columns: repeat(3, auto);
        padding: 15% 0rem;
        transform: skewY(2deg);

        span{
            transform: skewY(2deg);
        }
    }
    &__images{
        display: grid;
        grid-template-columns: repeat(3, 33.333%);
        padding: 0 3rem;
        @include respond(tab-port){
            display: block;
        }        
    }
    &__image1, &__image2, &__image3{
        width: 100%;
        &:not(:last-child){
          padding-right: 2rem;  
        }
    }
    &__image2, &__image3{
        @include respond(tab-port){
           display: none;
        }  
    }
}

.our-world{
    margin: 10%;

    &__heading{
        font-size: 4rem;
        font-weight: bold;
    }
    &__container{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 33.333%);

        @include respond(tab-port){
            display: block;
        }
    }
    &__grid{
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0 1rem;
        @include respond(tab-port){
            margin-bottom: 5rem;
        }
        &-heading{
            color: $color-pink;
            font-size: 1.8rem;
        }

        img{
            margin-top: 1.5rem;
            width: 100%;
        }
    }
}