.post-page{
    &__heading{
        position:fixed;
        background-image: linear-gradient(to right, rgba($color-black, .1), rgba($color-black, .1)), url(../img/africlick.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30%;
        //background-color: #000;
        top:0;
        width: 100%;
        height: 100%;
        z-index: -99;

        &-text{
            position: fixed;
            font-size: 7.6rem;
            line-height: 9rem;
            letter-spacing: -2px;
            width: 60vw;
            top: 30%;
            z-index: -50;
            color: $color-white;

            @include respond(phone-small){
                font-size: 6.6rem;
            }
        }
    }
    &__bg{
        width: 100%;
        //height: 100vh;
    }

    &__nav{
        top: 5%;
        left: 10%;
        color: $color-white;
        z-index: 99999999;
    }
}
.product-info{
    margin-top: 100vh;
    width:100%;
    z-index: 1000;
    position: relative;
    height: 100vh;
    background-color: #F7F7F7;
    //margin-top: -1rem;
    padding: 7rem;
    
    font-size: $font-small;
    //letter-spacing: -1px;
    @include respond(phone-small){
        padding: 8rem 5rem;
    }
    @media only screen and (max-height: 37.5em) { //600px
        padding: 2rem;
    };

    &-box{
        color: #BDBDBD;
        display: grid;
        //padding-top: 4rem;
        grid-template-columns: 25% 75%;
        @include respond(tab-port){
            display: block;
        }
        &1{
            font-size: 1.8rem;
            margin-top: 4rem;
            color: #4F4F4F;;
            @include respond(tab-port){
                margin-bottom: 8rem;
            }
        }
        &2{
            margin-left: 10rem;
            @include respond(tab-port){
                margin-bottom: 8rem;
                margin-left: 0rem;
            }
    

            &__text1{
                color: #222222;
                margin-top: 4rem;
                margin-bottom: 5rem;
                font-weight: bold;
            }
            &__text2{
                margin-bottom: 8rem;
                font-weight: 200;
                line-height: 3.5rem;
                color: #333333;
            }

            & a{
                color: #333333;
                background-color: transparent;
                font-size: 1.8rem;
                letter-spacing: 0;
                text-decoration: none;
                border: 2px solid #333333;
                padding: 2.3rem 3.2rem;
                transition: all .3s;

                // &:hover{
                //     background-color: $color-white;
                //     color: $color-black;
                //     &, #see-complete-arr{
                //     fill: $color-black;
                //     }
                // }
                svg{
                    margin-left: 3.2rem;
                }

                /*&:hover{
                    background-color: $color-white;
                    color: $color-black;
                }*/
            }
        }
    }

    &-img{
        background-color: #fff;
        //width: 100%;
        padding: 5rem 7rem;
        display: flex;
        align-content: center;
        justify-content: center;
        & img{
            // margin-left: 10%;
            // width: 80%;
            // height: 100vh;
            // //width: 60%;
            // margin-bottom: 5rem;
        }
       
    }
}

  