.fade-up{
    @include fade-up-mixin($color-black);
}
.about-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -999;
}.about-heading{
    position: fixed;
    top: 23.5rem;
    z-index: -999;
    perspective: 1000;
 }
.section-background{
    //height: 100rem;
    background-color: $color-black;
    color: $color-white;
    font-family: brown;
    transform: skewY(-3deg);
    margin-top: 97vh;
    padding-top: 1rem;
    @include respond(phone){
        padding-bottom: 35rem;
        margin-top: 65vh;
    }

    &__text{
        display: block;
        //font-family: brown;
        //float: right;
        //margin-right: 5rem;
        font-family: brown;
        font-size: $font-small;
        margin: 4rem 7rem;
        transform: skewY(3deg);
        @include clearfix;
        & h3{
            float: right;
            font-weight: 300;
        font-size: 2.4rem;
        }
    }

    &__grid{
        font-family: brown;
        font-size: 2.4rem;
        font-weight: 300;
        transform: skewY(3deg);
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
        padding-top: 7rem;
        padding-bottom: 10rem;

        @include respond(tab-port){
            grid-template-columns: auto;
            width: 80%;
            margin-left: 10%;
        }

        &-1{
            &:not(:last-child){
            padding: 0 3rem 0 0;
            position: relative;
            //@include clearfix;
            @include respond(tab-port){
                //position: relative;
            }
            // @include respond(phone){
            //     padding: 0;
            // }
            }
            

            &-a{
                width: 100%;
                position: relative;
                

                &-text{
                    position: absolute;
                    font-size: 14.4rem;
                    transform: rotate(-90deg);
                    left: -6%;
                    font-weight: bold;
                    letter-spacing: -8px;
                    top: 10%;
                    @include respond(phone){
                        font-size: 10rem;
                        top: 0%;
                        left: -10%;
                        letter-spacing: -3px;
                    }
                    @include respond(phone-small){
                        font-size: 10rem;
                    }

                &-sub{
                    position: absolute;
                    font-size: 14.4rem;
                    transform: rotate(-90deg);
                    right: 0;
                    font-weight: bold;
                    letter-spacing: -8px;

                    @include respond(tab-port){
                        right: 0%;
                        bottom: 25%;
                    }
                    @include respond(phone){
                        font-size: 10rem;
                        bottom: 60%;
                        letter-spacing: -3px;
                    }
                }
                }

                & img{
                    width: 100%;
                }
            }

            &-b{
                padding: 2rem 10rem 16rem 2rem;
                
                @include respond(tab-port){
                    width: 80%;
                    float: left;
                    padding: 0;
                    padding-bottom: 5rem;
                }

                @include respond(phone){
                    width: 100%;
                    position: absolute;
                    top: 112%;
                    line-height: 4rem;
                }
                &2{
                    padding: 4rem 0 8rem 7rem; 

                    @include respond(tab-port){
                        width: 80%;
                        float: right;
                        padding: 5rem 0;
                        text-align: right;
                        //padding-top: 5rem;
                    }
                    @include respond(phone){
                        float: left;
                        width: 100%;
                        text-align: left;
                        line-height: 4rem;
                        padding: 5rem 0 11rem 0;
                    }
                }
            }
        }
    }
}
.sticky {
    position: fixed;
    top: 0;
    //width: 100%;
  }
.section-work{
    //height: 100vh;
    padding-top: 12rem;
    margin-top: -8rem;
    background-color: #fff;

    &__heading{
        //background-color: red;
        @include clearfix;
        color: $color-black;
        & h3{
            float: right;
            margin-right: 7rem;
            font-family: brown;
            font-size: $font-small;
            font-weight: 300;
            font-size: 2.4rem;
        }
    }

    &__main{
        display: grid;
        grid-template-columns: 25% 75%;
        margin-left: 10rem;
        margin-right: 7rem;
        margin-top: 5rem;
        font-family: brown;
        font-size: $font-small;

        &-subject{


            font-size: 9.6rem;
            font-weight: bold;
            line-height: 9rem;
            //position: fixed;
            top: 10%;
            //z-index: -1;

            :not(:first-child){
                color: $color-grey-light;
            }
        }

        &-content{
            position: relative;
            margin-left: 7rem;
            height: 100vh;
            &-bg{
                background-color: #25F2FF;
                height: 25rem;
                margin-top: 10%;
            }

            &-text{
                position: absolute;
                top: 0%;
                padding: 0 8rem;

                & p{
                    margin-top: 5rem;
                }
            }
        }
        
    }
} .u-snap-scroll{
    scroll-snap-align: start;
}