.fade-up{
    @include fade-up-mixin($color-black);
}
.about-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -999;
    @include respond(tab-port){
        z-index: 0;
    }
}.about-heading{
    position: fixed;
    top: 14rem;
    z-index: -999;
    perspective: 1000;
    width: 100%;
    @include max-width;
    right: 50%;
    transform: translateX(50%);
    @include respond(phone){
        top: 25rem;
    }
 }
.section-background{
    //height: 100rem;
    background-color: $color-black;
    color: $color-white;
    font-family: brown;
    transform: skewY(-3deg);
    margin-top: 97vh;
    padding-top: 1rem;

    // @media only screen and (max-height: 68.7em) and (max-width: 37.5em){ //600px
    //     @content
    // }
    @include respond(tab-port){
        //padding-bottom: 40rem;
        margin-top: 65vh;
    }

    &__text{
        display: block;
        //font-family: brown;
        //float: right;
        //margin-right: 5rem;
        font-family: brown;
        font-size: $font-small;
        margin: 4rem 7rem;
        transform: skewY(3deg);
        @include max-width;
        @include clearfix;
        & h3{
            float: right;
            font-weight: 300;
        font-size: 2.4rem;
        }
    }

    &__grid{
        font-family: brown;
        font-size: 2.4rem;
        font-weight: 300;
        transform: skewY(3deg);
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
        padding-top: 7rem;
        padding-bottom: 10rem;
        @include max-width;

        @include respond(tab-port){
            grid-template-columns: auto;
            //width: 80%;
            margin: 0 6rem;
        }

        &-1{
            &:not(:last-child){
            padding: 0 3rem 0 0;
            position: relative;
            //@include clearfix;
            @include respond(tab-port){
                padding: 0 0rem 0 
            }
            // @include respond(phone){
            //     padding: 0;
            // }
            }
            

            &-a{
                width: 100%;
                position: relative;
                @include respond(tab-port){
                &:not(:first-child){
                    position: absolute;
                    top: 0rem;
                }
            }

                &-text{
                    position: absolute;
                    font-size: 14.4rem;
                    transform: rotate(-90deg);
                    left: -7rem;
                    font-weight: bold;
                    letter-spacing: -8px;
                    top: 1rem;
                    @include respond(phone){
                        font-size: 13rem;
                        //top: 0%;
                        left: -10rem;
                        letter-spacing: -3px;
                    }
                    @include respond(phone-small){
                        font-size: 10rem;
                    }

                &-sub{
                    position: absolute;
                    font-size: 14.4rem;
                    transform: rotate(-90deg);
                    right: 0;
                    font-weight: bold;
                    letter-spacing: -8px;

                    @include respond(tab-port){
                        right: 0%;
                        top: 0rem;
                    }
                    @include respond(phone){
                        font-size: 13rem;
                        //bottom: 60%;
                        letter-spacing: -3px;
                    }
                }
                }

                & img{
                    width: 100%;
                }
            }

            &-b{
                padding: 2rem 10rem 16rem 2rem;
                
                @include respond(tab-port){
                    width: 100%;
                    // position: absolute;
                    // top: 112%;
                    font-size: 3.5rem;
                    line-height: 5rem;
                    padding: 0;
                    margin-top: 80%;
                }

                // @include respond(phone){
                //     font-size: 3.5rem;
                //     line-height: 5rem;
                // }
                &2{
                    padding: 4rem 0 8rem 7rem; 

                    @include respond(tab-port){
                        float: left;
                        width: 100%;
                        text-align: left;
                        line-height: 5rem;
                        font-size: 3.5rem;
                        padding: 5rem 0 11rem 0;
                    }
                    // @include respond(phone){
                    //     float: left;
                    //     width: 100%;
                    //     text-align: left;
                    //     line-height: 4rem;
                    //     padding: 5rem 0 11rem 0;
                    // }
                }
            }
        }
    }
}
// .sticky {
//     position: sticky;
//   position: -webkit-sticky;
//   width: 100px;
//   height: 100px;
//   }
.section-work{
    //height: 100vh;
    padding-top: 12rem;
    margin-top: -8rem;
    background-color: #fff;
    z-index: -9;
    width: 100%;

    &__heading{
        //background-color: red;
        @include clearfix;
        color: $color-black;
        @include max-width;
        & h3{
            float: right;
            margin-right: 7rem;
            font-family: brown;
            font-size: $font-small;
            font-weight: 300;
            font-size: 2.4rem;
        }
    }

    &__main{
        display: grid;
        grid-template-columns: 25% 75%;
        padding-left: 10rem;
        padding-right: 7rem;
        margin-top: 5rem;
        font-family: brown;
        font-size: $font-small;
        @include max-width;

        &-subject{


            font-size: 9.6rem;
            font-weight: bold;
            line-height: 9rem;
            position: sticky;
            top: 10%;
            color: $color-grey-light;

            p{
                display: inline;
            }
        }

        &-content{
            position: relative;
            margin-left: 7rem;
            height: 100vh;
            //position: sticky;
            top: 5px;
            //scroll-snap-align: start;
            &-bg{
                background-color: #25F2FF;
                height: 25rem;
                margin-top: 10%;
            }

            &-text{
                position: absolute;
                top: 0%;
                padding: 0 8rem;

                & p{
                    margin-top: 5rem;
                }
            }
        }
        
    }
} 